$include_classes: false;
$transition_duration_fontsize: false;

$font_weight_base: 300;
$font_weight_headings: 700;
$font_family_sans_serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font_family_serif: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

// $font_family_body:      $font_family_serif;
// $font_family_headings:  $font_family_serif;

$highlight_color: #1382c5;
$muted_text_color: #666;
